src/Mojito.Web/obj/
src/Mojito.Web/bin/
src/Mojito.Components/obj/
src/Mojito.Components/bin/
src/Mojito.BusinessLogic/obj/
src/Mojito.BusinessLogic/bin/
src/Mojito.API/obj/
src/Mojito.API/bin/
src/Mojito.Web/bower/
src/Mojito.Console/bin/
src/Mojito.Console/obj/
src/Mojito.Dal/bin/
src/Mojito.Dal/obj/
