<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.21.1" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.15" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.15" targetFramework="net40" />
  <package id="ServiceStack.OrmLite" version="4.0.15" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="4.0.15" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.15" targetFramework="net40" />
</packages>